<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.TestCreatePoll"/>
      <class name="test.TestCreatePost"/>
      <class name="test.TestCreateQuestion"/>
      <class name="test.TestDeletePoll"/>
      <class name="test.TestDeletePost"/>
      <class name="test.TestDeleteQuestion"/>
      <class name="test.TestEditPost"/>
      <class name="test.TestEditQuestion"/>
      <class name="test.TestCreateCommentOnPoll"/>
      <class name="test.TestCreateCommentOnPost"/>
      <class name="test.TestCreateCommentOnQuestion"/>
      <class name="test.TestEditCommentOnPoll"/>
      <class name="test.TestEditCommentOnPost"/>
      <class name="test.TestEditCommentOnQuestion"/>
      <class name="test.TestDeleteCommentOnPoll"/>
      <class name="test.TestDeleteCommentOnPost"/>
      <class name="test.TestDeleteCommentOnQuestion"/>
      <class name="test.TestCreateQuestionWithAttachment"/>
      <class name="test.TestCreatePostWithAttachment"/>
      <class name="test.TestDeleteQuestionWithAttachment"/>
      <class name="test.TestDeletePostWithAttachment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
