<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" thread-count="1">
	<test name="twitter">
		<classes>
			<class name="test.twitter.TestCaptureTweet" />
			<class name="test.twitter.TestCaptureRetweet"></class>
			<class name="test.twitter.TestCaptureReply"></class>
			<class name="test.twitter.TestCaptureMessages"></class>
			<class name="test.twitter.TestCaptureMention"></class>
		</classes>
	</test>
</suite>